body {
    transition: background-color 0.3s;
}
.navbar{
    background-color: #100e0e;
    color: white;
}

ul li{
  padding: 10px;
}
ul li a{
  font-size: larger;
  font-weight: 700;
}
ul li a:hover{
  color: #8612FA !important;
}
.navbar-brand{
  font-weight: 900;
  font-size: 3rem;
  padding: 0%;
  padding-left: 20px !important;

}
span{
  color: #8612FA;
}
.dark-mode {
    background-color: #000;
    color: white;
}

@media screen and (max-width: 768px) {
    
     td {
      white-space: nowrap; /* Prevent wrapping of table cells */
    }
  }
  
table {
    /* width: 100%; */
    border-collapse: collapse;
    
}

th, td {
    border: 1px solid #8612FA;
    padding: 8px;
    text-align: center;

}
td a{
    color: #8612FA !important;
}

thead{
    background-color: #8612FA;
    font-size: larger;
    font-weight: 600;
}
.card{
    border: none;
    background: #252529;
    border-radius: 10px;
}

#hero{
    margin-top: 50px;
}
#portfolio{
   
}
/* -------------------------------- 

File#: _1_feature
Title: Feature
Descr: Content group containing text + media (img, video, iframe, inline SVG)
Usage: codyhouse.co/license

-------------------------------- */

/* reset */
*, *::after, *::before {
    box-sizing: border-box;
  }
  
  * {
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    color: white    ;

  }
   a{
    color: white !important;
  }
  
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    background-color: black;
    font-family: system-ui, sans-serif;
    color: hsl(230, 7%, 23%);
    font-size: 1.125rem; /* 18px */
    line-height: 1.4;
  }
  h1{
    color: #8612FA;
    font-size: 3.5rem !important;
    font-weight: 700;
  }
  .heading{
    color: white;
  }
   h2, h3, h4 {
    line-height: 1.2;
    color: hsl(230, 13%, 9%);
    font-weight: 700;
  }
  
  h1 {
    font-size: 2.5rem; /* 40px */
  }
  
  h2 {
    font-size: 2.125rem; /* 34px */
  }
  
  h3 {
    font-size: 1.75rem; /* 28px */
  }
  
  h4 {
    font-size: 1.375rem; /* 22px */
  }
  
  ol, ul, menu {
    list-style: none;
  }
  
  button, input, textarea, select {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    line-height: inherit;
    -webkit-appearance: none;
            appearance: none;
  }
  
  textarea {
    resize: vertical;
    overflow: auto;
    vertical-align: top;
  }
  
  a {
    color: hsl(250, 84%, 54%);
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  img, video, svg {
    display: block;
    max-width: 100%;
  }
  
  /* -------------------------------- 
  
  Buttons 
  
  -------------------------------- */
  
  .cd-btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.375em;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.2;
    cursor: pointer;
    transition: 0.2s;
    will-change: transform;
  }
  
  .cd-btn:focus-visible {
    outline: none;
  }
  
  .cd-btn:active {
    transform: translateY(2px);
  }
  
  .cd-btn--primary {
    background: hsl(250, 84%, 54%);
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.15), 
                0 1px 3px hsla(250, 84%, 38%, 0.25), 
                0 2px 6px hsla(250, 84%, 38%, 0.1), 
                0 6px 10px -2px hsla(250, 84%, 38%, 0.25);
    color: hsl(0, 0%, 100%);
  }
  
  .cd-btn--primary:hover {
    background: hsl(250, 84%, 60%);
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.15), 
                0 1px 2px hsla(250, 84%, 38%, 0.25), 
                0 1px 4px hsla(250, 84%, 38%, 0.1), 
                0 3px 6px -2px hsla(250, 84%, 38%, 0.25);
  }
  
  .cd-btn--primary:focus-visible {
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.15), 
                0 1px 2px hsla(250, 84%, 38%, 0.25), 
                0 1px 4px hsla(250, 84%, 38%, 0.1), 
                0 3px 6px -2px hsla(250, 84%, 38%, 0.25), 
                0 0 0 2px hsl(0, 0%, 100%), 
                0 0 0 4px hsl(250, 84%, 54%);
  }
  
  /* --------------------------------
  
  Component 
  
  -------------------------------- */
  
  .feature {}
  
  .feature__grid {
    display: grid;
    gap: 2rem;
    align-items: center;
  }
  
  .feature__grid > * {
    min-width: 0;
  }
  
  .feature__content {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  
  .feature__label {
    font-size: 0.9375rem;
    color: white;
    text-transform: capitalize;
    background-color: #100e0e;
    width: 170px;
    padding: 4px;
    border-radius: 6px;
    margin-bottom: -20px;
  }
  
  .feature__actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
  
  .feature--center-x .feature__actions {
    justify-content: center;
  }
  
  .feature__img {
    width: 100%;
    border-radius: 0.75em;
  }
  
  @media (min-width: 64rem) {
    .feature__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .feature--invert .feature__grid > *:first-child {
      order: 2;
    }
  }
  
  /* -------------------------------- 
  
  Utilities 
  
  -------------------------------- */
  
  .cd-container {
    width: calc(100% - 3rem);
    margin-left: auto;
    margin-right: auto;
  }
  
  .cd-max-width-adaptive-lg {
    max-width: 32rem;
  }
  
  @media (min-width: 48rem) {
    .cd-max-width-adaptive-lg {
      max-width: 48rem;
    }
  }
  
  @media (min-width: 64rem) {
    .cd-max-width-adaptive-lg {
      max-width: 64rem;
    }
  }
  
  @media (min-width: 80rem) {
    .cd-max-width-adaptive-lg {
      max-width: 80rem;
    }
  }
  
  .cd-position-relative {
    position: relative;
  }
  
  .cd-z-index-1 {
    z-index: 1;
  }
  
  .cd-margin-y-2xl {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  
  .cd-text-center {
    text-align: center;
  }
  
  .cd-line-height-lg {
    line-height: 1.58;
  }
  
  .cd-link {
    color: hsl(250, 84%, 54%);
    text-decoration: none;
    background-image: linear-gradient(to right, hsl(250, 84%, 54%) 50%, hsla(250, 84%, 54%, 0.2) 50%);
    background-size: 200% 1px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    transition: background-position 0.2s;
  }
  
  .cd-link:hover {
    background-position: 0% 100%;
  }


  footer{
    background-color: #100e0e;
  }

  .card-main{
    margin-bottom: 10%;
  }
  .card-body i{
font-size: 40px;

    padding: 20px;
    background-color: #000;
    margin: 10px;
    border-radius: 10px;


  }

  .card-title{
    color:#8612FA;
    font-weight:700;
    
  }


  .totop {
    position: fixed;
    bottom: 10px;
    right: 30px;
    background-color: #8612FA;
    font-size: larger;
    padding: 15px;
    border-radius: 100px;

}

a, a:visited {
    color: #33739E;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}
a:hover {
    text-decoration: none;
}



